
.login-register-body {
    background-color: #F4FBF2; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    padding: 10px;
    padding-top: 5vh ;
    box-sizing: border-box;
    
}

.login-wrapper {
    display: flex;
    width: 100%;
    max-width: 1100px; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 14.5px rgba(0, 0, 0, 0.7);
    overflow: hidden; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.login-form-container {
    flex-basis: 50%;
    background-color: rgba(14, 40, 11, 0.44);    
    padding: 40px clamp(20px, 5vw, 60px);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.login-header {
    margin-bottom: 10px;
    
}

.login-header img {
    width: 120px;
    height: auto;
}



.login-header a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
   
}

.form-content h2 {
    font-size: 1.7rem;
    color: var(--eco-dark);
    margin-bottom: 15px;
    text-align: center;
}
.form-content {
    width: 100%;
    max-width: 400px; 
    text-align: left;
}
.form-content .subtitle {
    color: #555;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: var(--eco-dark);
    margin-bottom: 12px;
    font-size: 0.9rem;
}



.form-group input {
    width: 100%;
    padding: 14px 20px;
    border: 2px solid var(--gray-100);
    border-radius: 8px;
    background-color: #3FB872; 
    font-size: 1rem;

}
.form-group input::placeholder {
    color: #6a736a; /*letras de crear cuenta*/
}
.form-group input:focus {
    outline: 2px solid var(--eco-accent); /*margen de colocar*/
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.password-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: #555; /*ojos*/
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 30px;
}
.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
}
.forgot-password {
    color: var(--eco-dark); /*letra de olvidaste*/
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    width: 50%;
    padding: 15px;
    border: 2px solid var(--gray-100);
    border-radius: 30px;
    background-color: var(--eco-accent);
    color: #1E1E1E;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-btn:hover {
    background-color: #318a5a; 
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.register-link {
    text-align: center;
    margin-top: 30px;
    font-size: 0.95rem;
}
.register-link a {
    color: #0E280B; /*registrase aqui*/
    font-weight: bold;
}

.social-login {
    margin-top: 25px;
}
.social-separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    font-size: 0.85rem;
    margin-bottom: 20px;
}
.social-separator::before,
.social-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1.5px solid #ccc;
}
.social-separator:not(:empty)::before {
    margin-right: 0.25em;
}
.social-separator:not(:empty)::after {
    margin-left: .25em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #555;
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-icon:hover {
    color: white;
    transform: scale(1.1);
}
.social-icon.google:hover { background-color: #DB4437; }
.social-icon.facebook:hover { background-color: #4267B2; }
.social-icon.instagram:hover { background-color: #C13584; }


.login-illustration-container {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7fbf6; 
    padding: 10px;
}

.login-illustration-container img {
    width: 100%;   
    height: 89%;  
    object-fit: cover;
}

@media (max-width: 950px) {
    .login-wrapper {
        flex-direction: column;
    }

    .login-illustration-container {
        display: none;
    }
    
    .login-form-container {
        border-radius: 20px; 
    }
}
